target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.yaml
!**/src/main/resources/*.yml
!**/src/main/resources/*.properties
*.class
*.os
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
.settings/
.classpath
.project
bin/
*.log
*.sql
